@import 'tailwindcss';
@import './base.css';
@import './palette.css';

html {
  /* background-image: url('/backgrounds/drumset.jpg'); */
  background-image: url('/backgrounds/guitar-2916408.jpg');
  /* background-image: url('/backgrounds/electric-guitar-7815026.jpg'); */
  /* background-image: url('/backgrounds/bass-guitar-1841186.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  font-family: 'Barlow';
}

body {
  @apply h-full;
  /* @apply bg-slate-950/25; */
  @apply text-white;
}
